.buildpath
.idea
.project
.settings
/config/**/*.local.php
/config/autoload/database.local.php
/config/autoload/di.guzzle.global.php
/config/autoload/di.memcached.global.php
/config/autoload/di.redis.global.php
/config/di/vendor_components.php
/config/host.php
/data/certificates
/data/di/definitions/
/data/di/php_internal-definition.php
/nbproject
/phinx.yml
/tools/capistrano/log/
/tools/post_deploy.sh
/vendor
composer.phar
public/channelgrabber/zf2-v4-ui
vendor/channelgrabber/zf2-v4-ui/public/js/zeroclipboard